<!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Background</h2>
                    <h3 class="section-subheading text-muted"><a href="pdf/cmf.cv.pdf">Full CV in PDF</a></h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/icub.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2015-present</h4>
                                    <h4 class="subheading">SPECS laboratory, UPF, Barcelona</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Post-doctoral researcher</p>
                                    <ul>
                                        <li><a href="bibliography/moulinfrier2017dach3">Cognitive architectures for Human-Robot Interaction</a> (<a href="http://wysiwyd.upf.edu">WYSIWYD project</a>)</li>
                                        <li>Co-investigator of the <a href="http://specs.upf.edu/projects/3159">INSOCO project</a> (with <a href="http://martisanchez.com/">Martì Sanchez-Fibla</a>)</li>
                                        <li> <a href="bibliography/moulinfrier2015turntaking">Emergence of social behavior in multi-agent populations</a> ( <a href="http://socsmcs.eu/">SocSMCs project</a>) </li>
                                        <li> <a href="bibliography/moulinfrier2016topdown">Modeling of synthetic consciousness</a> (<a href="http://specs.upf.edu/projects/2810">CDAC project</a>) </li>
                                    </ul>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/ergorobots.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2012-2014</h4>
                                    <h4 class="subheading">Flowers lab, Inria, Bordeaux</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Researcher</p>
                                </div>
                                <ul>
                                    <li><a href="bibliography/Moulin-Frier_Frontiers_2013">Self-organisation of early vocal development</a></li>
                                    <li><a href="bibliography/Moulin-Frier_Oudeyer_2013_ICDL"><i>Explauto</i>: a curiosity-driven learning framework</a>
                                        <ul><li><a href="https://github.com/flowersteam/explauto">Open-source Python library</a></li></ul>
                                    </li>
                                </ul>
                                
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/docetomnia.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2011</h4>
                                    <h4 class="subheading">LPPA, Collège de France -- CNRS, Paris</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Post-doctoral researcher, ROMEO project</p>
                                    <a href="bibliography/NGuyen_2013_quasimetric">Decision making under uncertainty: a quasimetric approach</a>
                                </div>
                            </div>
                        </li>

                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/usc.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2009</h4>
                                    <h4 class="subheading">USC Brain Project, Los Angeles</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Visiting scholar</p>
                                    <a href="bibliography/moulinfrier2013recognizing">Recognizing speech in a novel accent: The motor theory of speech perception reframed</a>
                                </div>
                            </div>
                        </li>

                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/gipsa.png" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2007-2011</h4>
                                    <h4 class="subheading">GIPSA-Lab, Speech and Cognition Department, Grenoble</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">PhD student and teaching assistant</p>
                                    COSMO: <i>Communicating about Objects using Sensory-Motor Operations</i>
                                        <ul>
                                            <li><a href="bibliography/moulinfrier2015cosmo/">Sound system emergence in COSMO agent populations</a> (target paper of a <a href="http://www.sciencedirect.com/science/journal/00954470/53/supp/C">Special Issue: </a><i>On the cognitive nature of speech sound systems</i>) </li>
                                            <li><a href="bibliography/moulinfrier2012adverse">Bayesian model of speech communication</a></li>
                                            <li><a href="bibliography/moulinfrier2011thesis">PhD thesis in French</a></li>
                                        </ul>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/universite_grenoble.png" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2000-2007</h4>
                                    <h4 class="subheading">University of Grenoble</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Student</p>
                                    <ul>
                                        <li><a href="bibliography/Moulin-Frier_2006_Master_Info">Master in Computer Science</a></li>
                                        <li><a href="bibliography/Moulin-Frier_2007_Master_ScCo">Master in Cognitive Science</a></li>
                                        <li>Bachelor in Mathematics and Computer Science</li>
                                    </ul>
                                </div>
                            </div>                            
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
