<!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">About</h2>
                    <h3 class="section-subheading text-muted"><a href="pdf/cmf.cv.pdf">Full CV in PDF</a></h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/icub.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2015</h4>
                                    <h4 class="subheading">SPECS laboratory, UPF, Barcelona</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Post-doctoral researcher</p>
                                    <ul><li><a href="http://wysiwyd.upf.edu">WYSIWYD project</a></li></ul>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/ergorobots.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2012-2014</h4>
                                    <h4 class="subheading">Flowers lab, Inria, Bordeaux</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Researcher</p>
                                </div>
                                <ul>
                                    <li>Self-organisation of early vocal development {% cite Moulin-Frier_Frontiers_2013 %}</li>
                                    <li><i>Explauto</i>: a curiosity-driven learning framework {% cite Moulin-Frier_Oudeyer_2013_ICDL %}
                                        <ul><li><a href="https://github.com/flowersteam/explauto">Open-source Python library</a></li></ul>
                                    </li>
                                </ul>
                                
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/docetomnia.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2011</h4>
                                    <h4 class="subheading">LPPA, Collège de France -- CNRS, Paris</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Post-doctoral researcher, ROMEO project</p>
                                    Decision making under uncertainty: a quasimetric approach {% cite NGuyen_2013_quasimetric %}
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/gipsa.png" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2007-2011</h4>
                                    <h4 class="subheading">GIPSA-Lab, Speech and Cognition Department, Grenoble University</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">PhD student and teaching assistant</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <h4>Mathematics, computer science and cognitive science studies</h4>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
