<section id="publications">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading text-center">Publications</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">            
                <h3>International journals</h3>
                {% bibliography  --query @article %%}
                <h3>Book chapter</h3>
                {% bibliography  --query @inbook %%}
                <h3>International conferences</h3>
                {% bibliography  --query @inproceedings %%}
                <h3>Abstracts</h3>
                {% bibliography  --query @misc %%}
                <h3>Theses</h3>
                {% bibliography  --query @phdthesis %%}
                {% bibliography  --query @mastersthesis %%}
            </div>
        </div>
    </div>
</section>