---
layout: default
---
<div class="home">
{% include navbar.html url_prefix="/" %}

    <header class="dummy">
        <div class="container">
            <div class="intro-text">
            </div>          
        </div>
    </header>

<section>
  <div class="container">
           <div class="row">
                <div class="col-lg-12 text-center">
                    <h6 class="section-heading">  &nbsp</h6>
                </div>
            </div>    
    <div class="row">
        <div class="col-lg-12">
          <h5>{{ page.entry.title }}</h5>
          <p>
            {% raw %}
            {{ page.entry.author }}
            {% endraw %}
          </p>
          {% if page.entry.url %}
            <h4><a href="{{page.entry.url}}" target="_blank">Link to the article</a></h4>
          {% elsif page.entry.hal_id %}
            <h4><a href="https://hal.archives-ouvertes.fr/{{ page.entry.hal_id }}/document" target="_blank">Link to the article</a></h4>
          {% else %}
            <h4>PDF not available here. <a href="https://scholar.google.com/scholar?q={{ page.entry.title | replace: ' ', '+' }}" target="_blank">Search in Google Scholar</a></h4>
          {% endif %}

          {% if page.entry.abstract %}
            <h5>Abstract</h5>
            <p class="justify">{{ page.entry.abstract }}</p>
          {% endif %}

          <h5>Bibtex</h5>
          <p>
          	{% raw %}
          	<pre lang="bibtex">{{ page.entry.bibtex }}</pre>
          	{% endraw %}
          </p>
        </div>
    </div>
  </div>
</section>
</div>              
