---
layout: default
---
<div class="home">
{% include navbar.html url_prefix="/" %}

    <header class="dummy">
        <div class="container">
            <div class="intro-text">
            </div>          
        </div>
    </header>

<section>
  <div class="container">
           <div class="row">
                <div class="col-lg-12 text-center">
                    <h6 class="section-heading">  &nbsp</h6>
                </div>
            </div>    
    <div class="row">
        <div class="col-lg-12">

            {{content}}

        </div>
    </div>
  </div>
</section>
</div>  